<template>
  <div class="landing-main-container fr-container fr-my-8w">
    <article>
      <h1>Veuillez lire et accepter les CGU</h1>
      <p>
        Afin de pouvoir utiliser Mon Suivi Social, merci de lire et accepter les
        CGU.
      </p>
    </article>
    <article class="cgu-container">
      <h1>
        Conditions générales d'utilisation de Mon Suivi Social - Responsable de
        CCAS ou de CIAS ou d'association d'accompagnement social
      </h1>
      <p>
        Les présentes conditions générales d'utilisation (dites « CGU ») fixent
        et définissent les conditions d'accès et d'utilisation de la plateforme
        « Mon Suivi Social ».
      </p>
      <h2>Article 1 - Champ d'application</h2>
      <p>
        La plateforme Mon Suivi Social a pour objectif de faciliter le suivi
        social des bénéficiaires des CCAS, des CIAS, des communes et structures
        d'accompagnement social par la création d'un dossier social unique.
      </p>
      <h2>Article 2 - Objet</h2>
      <p>
        La plateforme Mon Suivi Social a pour objectif de faciliter le suivi
        social des bénéficiaires des CCAS, des CIAS, des communes et structures
        d'accompagnement social par la création d'un dossier social unique.
      </p>
      <p>Ce dossier social unique permet notamment :</p>
      <ul>
        <li>
          le suivi des interactions des bénéficiaires dans leur structure ;
        </li>
        <li>
          la centralisation et la sécurisation des dossiers des bénéficiaires ;
        </li>
        <li>la recherche d'informations ;</li>
        <li>le partage des agendas et la gestion des tâches ;</li>
        <li>la production de statistiques.</li>
      </ul>
      <h2>Article 3 - Définitions</h2>
      <p>
        « Le responsable de structure » est la personne référente d'une CCAS, ou
        d'une CIAS, ou d'une association d'accompagnement social.
      </p>
      <p>
        « L'Administrateur » est l'agent habilité de l'équipe Mon Suivi Social
      </p>
      <p>
        « L'Utilisateur » est tout agent autorisé par le responsable de
        structure d'une CCAS ou d'une CIAS à ajouter des Bénéficiaires.
      </p>
      <p>
        « L'Intervenant associatif » est tout membre d'une association autorisé
        par le responsable de structure d'une association d'accompagnement
        social à ajouter des Bénéficiaires.
      </p>
      <p>
        « Le Bénéficiaire » est toute personne d'une structure qui bénéficie
        d'un suivi social de la part d'un agent.
      </p>
      <p>
        Les « Services » sont les fonctionnalités offertes par le site pour
        répondre à ses finalités.
      </p>
      <p>
        « Le responsable de traitement » est la personne qui, au sens de
        l'article 4 du règlement (UE) n°2016/679 du Parlement européen et du
        Conseil du 27 avril 2016 relatif à la protection des personnes physiques
        à l'égard du traitement des données à caractère personnel et à la libre
        circulation de ces données détermine les finalités et les moyens des
        traitements de données à caractère personnel (ci-après « RGPD »).
      </p>
      <p>
        « Le Sous-traitant » est la personne qui, au sens de l'article 4 du RGPD
        traite les données à caractère personnel pour le compte du responsable
        de traitement.
      </p>
      <h2>Article 4 - Fonctionnalités</h2>
      <h3>
        4.1 Fonctionnalités ouvertes uniquement aux Responsables de structures
      </h3>
      <p>
        Après création de la structure et du compte responsable de structure par
        un Administrateur, Mon Suivi Social permet à tout responsable de
        structure de :
      </p>
      <ul>
        <li>
          enregistrer et modifier une structure (CCAS, CIAS, commune,
          association ou structure d'accompagnement social ) sur la plateforme
          en collectant et saisissant les informations générales la concernant
        </li>
        <li>
          créer et modifier des comptes pour les agents Utilisateurs de la
          plateforme. Chaque Utilisateur aura un compte individuel et nominatif.
          Pour accéder aux services de la Plateforme, l'Utilisateur, après son
          enregistrement par le responsable de structure , devra se connecter à
          l'aide d'un lien l'invitant à définir un mot de passe. Le nouveau mot
          de passe doit ensuite être choisi par l'Utilisateur de façon à ce
          qu'il ne puisse être deviné par un tiers. Cette information doit être
          sécurisées, conservées et non-cédées.
        </li>
        <li>
          gérer les droits d'accès des Utilisateurs et des Intervenants
          associatifs aux différentes structures.
        </li>
      </ul>
      <h3>
        4.2 Fonctionnalités ouvertes aux Responsables de structures,
        Utilisateurs et aux Intervenants associatifs
      </h3>
      <p>
        « Mon Suivi Social » permet à tout Responsable de structure, Utilisateur
        et Intervenant associatif de :
      </p>
      <ul>
        <li>
          ajouter un Bénéficiaire sur la plateforme en renseignant l'ensemble
          des informations et documents de son dossier social unique nécessaires
          au traitement de sa demande ;
        </li>
        <li>Ajouter des documents rattachés au dossier du bénéficiaire.</li>
        <li>créer une synthèse d'entretien avec un Bénéficiaire ;</li>
        <li>instruire une demande d'aide légale ou facultative ;</li>
        <li>
          Accéder à l'historique de l'ensemble des accompagnements conduits par
          la structure auprès des bénéficiaires
        </li>
        <li>gérer l'ensemble des Bénéficiaires d'une structure ;</li>
        <li>
          créer et exporter des rapports de statistiques d'activités de la
          structure
        </li>
        <li>
          gérer les rendez-vous pris par les Bénéficiaires via la plateforme Rdv
          Solidarités.
        </li>
      </ul>
      <h2>Article 5 - Responsabilités</h2>
      <h3>5.1 L'éditeur de la plateforme « Mon Suivi Social »</h3>
      <p>
        Les sources des informations diffusées sur le site sont réputées fiables
        mais le site ne garantit pas qu'il soit exempt de défauts, d'erreurs ou
        d'omissions.
      </p>
      <p>
        Tout événement dû à un cas de force majeure ayant pour conséquence un
        dysfonctionnement du site et sous réserve de toute interruption ou
        modification en cas de maintenance, n'engage pas la responsabilité de
        Mon Suivi Social.
      </p>
      <p>
        L'éditeur s'autorise à suspendre ou révoquer n'importe quel compte et
        toutes les actions réalisées par ce biais, s'il estime que l'usage
        réalisé du service porte préjudice à son image ou ne correspond pas aux
        exigences de sécurité.
      </p>
      <p>
        L'éditeur s'engage à la sécurisation du site, notamment en prenant
        toutes les mesures nécessaires permettant de garantir la sécurité et la
        confidentialité des informations fournies.
      </p>
      <p>
        L'éditeur fournit les moyens nécessaires et raisonnables pour assurer un
        accès continu, sans contrepartie financière au site. Il se réserve la
        liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la
        plateforme pour des raisons de maintenance ou pour tout autre motif jugé
        nécessaire.
      </p>
      <h3>5.2 Le Responsable de structure</h3>
      <p>
        Le Responsable de structure s'engage à ne pas commercialiser les données
        reçues et à ne pas les communiquer à des tiers en dehors des cas prévus
        par la loi.
      </p>
      <p>Il assure être en mesure d'engager juridiquement la structure.</p>
      <p>
        Toute information transmise par lui est de sa seule responsabilité. Il
        est rappelé que toute personne procédant à une fausse déclaration pour
        elle-même ou pour autrui s'expose, notamment, aux sanctions prévues à
        l'article 441-1 du code pénal, prévoyant des peines pouvant aller
        jusqu'à trois ans d'emprisonnement et 45 000 euros d'amende.
      </p>
      <p>
        Il s'engage à ne pas mettre en ligne de contenus ou informations
        contraires aux dispositions légales et réglementaires en vigueur.
      </p>
      <h2>
        Article 6 - Accord de sous-traitance pour le traitement de données à
        caractère personnel
      </h2>
      <p>
        La structure accompagnatrice (CCAS, CIAS ou association d'accompagnement
        social concerné) est Responsable de traitement à l'égard des données à
        caractère manipulées dans le cadre des Services.
      </p>
      <p>
        L'Agence Nationale de la Cohésion des Territoires a qualité de
        Sous-traitant.
      </p>
      <p>
        Les obligations respectives du Responsable de traitement et du
        Sous-traitant sont précisées en annexe des présentes CGU.
      </p>
      <h2>Article 7 - Mise à jour des conditions d'utilisation</h2>
      <p>
        Les termes des CGU doivent être acceptés au moment de la connexion.
        Toute modification des CGU réalisée en fonction des modifications
        apportées au site, de l'évolution de la législation ou pour tout autre
        motif jugé nécessaire, nécessite votre consentement.
      </p>
      <h2>Annexe : Accord de sous-traitance</h2>
      <p>
        L'Agence Nationale de Cohésion des Territoires (ANCT), en qualité de
        sous-traitant, est autorisée à traiter pour le compte des CCAS et des
        CIAS ou des associations d'accompagnement social, en qualité de
        Responsable(s) du traitement des données à caractère personnelle
        nécessaires à la mise à disposition, la maintenance et l'hébergement des
        Services, dans les conditions décrites à la présente Annexe.
      </p>
      <h3>Description du traitement de données à caractère personnel</h3>
      <p>Sont concernées par le traitement les données suivantes :</p>
      <div class="fr-table fr-table--no-caption">
        <table>
          <thead>
            <tr>
              <th>Catégorie de données</th>
              <th>Description des données</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Données relatives aux bénéficiaires</td>
              <td>
                <p>
                  Données relatives à l'identification des bénéficiaires de
                  l'accompagnement social et médico-social et, le cas échéant,
                  de leurs représentants légaux (nom, prénom, sexe, adresse,
                  courriel, numéro de téléphone, date et lieu de naissance,
                  numéro d'identification de rattachement à un organisme, numéro
                  de sécurité sociale, nationalité, âge) ;
                </p>
                <p>
                  Données relatives à la vie personnelle (situation et
                  composition familiale du foyer) ;
                </p>
                <p>
                  Données relatives au parcours professionnel et de formation
                  dans le cadre de l'aide à l'insertion professionnelle des
                  personnes ;
                </p>
                <p>
                  Données relatives aux conditions de vies matérielles
                  (situation financière, prestations et avantages sociaux
                  perçus, situation face au logement et à l'hébergement, moyens
                  de mobilité) ;
                </p>
                <p>
                  Données relatives à la couverture sociale (organismes de
                  rattachement et régimes d'affiliation, droits ouverts) ;
                </p>
                <p>
                  Données relatives aux coordonnées bancaires dans la mesure où
                  cette information est nécessaire au versement d'une prestation
                  ;
                </p>
                <p>
                  Données relatives à l'évaluation sociale et médico-sociale de
                  la personne concernée ;
                </p>
                <p>Pièces justificatives collectées dans l'espace document ;</p>
                <p>
                  Données relatives au type d'accompagnement et aux actions mis
                  en œuvre (domaines d'intervention, historique des mesures
                  d'accompagnement, objectifs, parcours, actions d'insertion
                  prévues, entretien et suivi).
                </p>
              </td>
            </tr>
            <tr>
              <td>Données sensibles relatives aux bénéficiaires</td>
              <td>
                <p>
                  NIR des bénéficiaires de l'accompagnement social et
                  médico-social ;
                </p>
                <p>
                  Données de santé relative à l'évaluation socio-médicale (champ
                  libre)
                </p>
                <p>GIR</p>
              </td>
            </tr>
            <tr>
              <td>
                Données relatives aux tiers professionnels concourant à la prise
                en charge
              </td>
              <td>
                <p>
                  Données relatives à l'identification des personnes concourant
                  à la prise en charge sociale, médico-sociale ou médicale ou
                  dans le cadre de l'accompagnement numérique (nom, prénom du
                  médecin traitant, des médecins experts, des aidants
                  professionnels, qualité, organisme d'appartenance, numéro de
                  téléphone de l'organisme, adresse, courriel, numéro de
                  téléphone des aidants professionnels)
                </p>
              </td>
            </tr>
            <tr>
              <td>Données relatives aux aidants familiaux</td>
              <td>
                <p>
                  Nom, prénom, le cas échéant, le lien familial (époux / épouse,
                  frère / sœur, fils / fille, etc.), numéro de téléphone, le
                  fait de vivre ou non au domicile du bénéficiaire, statut
                  d'aidant familial
                </p>
              </td>
            </tr>
            <tr>
              <td>Données relatives aux agents utilisant l'application</td>
              <td>
                <p>
                  Données d'état civil (nom, prénom) données de contact (adresse
                  e-mail, numéro de téléphone)
                </p>
              </td>
            </tr>
            <tr>
              <td>Cookies</td>
              <td><p>Cookies</p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Le traitement de ces données a pour finalité de :</p>
      <ul>
        <li>
          Fournir les prestations définies dans le cadre d'un contrat conclu
          entre l'organisme et le Bénéficiaire ou son représentant légal ;
        </li>
        <li>Assurer la gestion du dossier administratif du Bénéficiaire ;</li>
        <li>
          Instruire, gérer et, le cas échéant, ouvrir les droits et/ou verser
          les prestations sociales légales et facultatives ;
        </li>
        <li>Permettre la prise de rendez-vous des bénéficiaires ;</li>
        <li>
          Offrir un accompagnement social et médico-social adapté aux
          difficultés rencontrées ayant notamment pour objet d'élaborer un
          projet personnalisé d'accompagnement ;
        </li>
        <li>
          Assurer la gestion administrative financière et comptable de
          l'établissement, du service ou de l'organisme ;
        </li>
        <li>
          Établir des statistiques, des études internes et des enquêtes de
          satisfaction.
        </li>
      </ul>
      <p>
        Le traitement de données est réalisé sur le fondement de l'article 6 du
        RGPD, déterminé par le responsable de traitement. La base légale du
        présent traitement peut reposer sur une mission d'intérêt public
        lorsqu'un CCAS ou un CIAS est responsable de traitement, au titre des
        articles 6-e du RGPD et L. 123-5 du code de l'action sociale et des
        familles. La base légale du présent traitement peut reposer sur le
        consentement au titre de l'article 6-a du RGPD ou sur les intérêts
        légitimes au titre de l'article 6-f lorsqu'une association
        d'accompagnement social est responsable de traitement. Chaque
        responsable de traitement devra être en mesure de démontrer sur quelle
        base légale repose le présent traitement.
      </p>
      <p>
        Spécifiquement, le NIR est traité uniquement par les CCAS ou CIAS sur le
        fondement de l'article L.263-4-1 du code de l'action sociale et des
        familles.
      </p>
      <p>Ces données sont conservées pour une durée de :</p>
      <ul>
        <li>
          deux (2) ans en base active à compter du dernier contact émanant de la
          personne ayant fait l'objet de l'accompagnement par le CCAS, ou le
          CIAS ou l'association d'accompagnement social concerné ;
        </li>
        <li>
          dix (10) ans en base archivage pour les demandes d'aides financières
          délivrées par le CCAS, ou le CIAS ou l'association d'accompagnement
          social concerné (à l'exclusion des données sensibles).
        </li>
      </ul>
      <p>
        Les données relatives aux cookies sont conservées pour une durée de 13
        mois.
      </p>
      <h3>
        Obligations générales des CCAS, des CIAS et des associations
        d'accompagnement social, en qualité de Responsable de traitement.
      </h3>
      <p>
        En qualité Responsables de traitement, les CCAS, et les CIAS et les
        associations d'accompagnement social s'engagent à :
      </p>
      <ul>
        <li>fournir les données à caractère personnel à l'ANCT ;</li>
        <li>
          documenter par écrit toute instruction concernant le traitement des
          données à caractère personnel donnée à l'ANCT;
        </li>
        <li>
          veiller, au préalable et pendant toute la durée du traitement des
          données à caractère personnel, au respect des obligations prévues par
          le RGPD de la part de l'ANCT ;
        </li>
        <li>
          superviser le traitement des données à caractère personnel, y compris
          réaliser les audits et les inspections auprès de l'ANCT.
        </li>
      </ul>
      <p>
        Les CCAS, les et CIAS ou les associations d'accompagnement social sont
        responsables du respect du RGPD en ce qui concerne le présent traitement
        de données à caractère personnel.
      </p>
      <p>
        Le Responsable de traitement demeure chargé d'intégrer dans ses propres
        outils de conformité le traitement « MonSuiviSocial ».
      </p>
      <p>
        Le Responsable de traitement s'engage à respecter strictement les
        finalités pour lesquelles les données à caractère personnel sont
        traitées. Par ailleurs, les données à caractère personnels ne peuvent
        être utilisées ultérieurement que pour des finalités compatibles aux
        finalités initiales.
      </p>
      <h3>Obligations générales de l'ANCT</h3>
      <p>En qualité de Sous-traitant, l'ANCT s'engage à :</p>
      <ul>
        <li>
          traiter les données à caractère personnel uniquement pour la ou les
          seule(s) finalité(s) qui fait/font du traitement réalisé dans le cadre
          des Services ;
        </li>
        <li>
          traiter les données Personnelles conformément aux instructions des
          CCAS, et des CIAS et des associations d'accompagnement social. Si
          l'ANCT considère qu'une instruction constitue une violation du RGPD,
          il en informe immédiatement les CCAS, et les CIAS et les associations
          d'accompagnement social. En outre, si l'ANCT est tenue de procéder à
          un transfert de données à caractère personnel vers un pays tiers ou à
          une organisation internationale, en vertu du droit de l'Union ou du
          droit de l'Etat membre auquel il est soumis, il doit informer les
          CCAS, et les CIAS et les associations d'accompagnement social de cette
          obligation juridique avant le traitement, sauf si le droit concerné
          interdit une telle information pour des motifs importants d'intérêt
          public ;
        </li>
        <li>garantir la confidentialité des données à caractère personnel ;</li>
        <li>
          veiller à ce que les personnes autorisées à traiter les données à
          caractère personnel au sein de l'ANCT s'engagent à respecter la
          confidentialité des données à caractère personnel ; ait reçues la
          formation nécessaire en matière de protection des données à caractère
          personnel ;
        </li>
        <li>
          prendre en compte, s'agissant de ses outils, produits, applications ou
          services utilisés dans le cadre des Services, les principes de
          protection des données dès la conception.
        </li>
      </ul>
      <p>
        L'ANCT ne sera en aucun cas responsable du non-respect par les CCAS, et
        les CIAS et les associations d'accompagnement social de leurs
        obligations légales ou conventionnelles au regard du présent traitement
        de données à caractère personnel.
      </p>
      <h3>Obligations relatives au(x) sous-traitant(s) ultérieur(s)</h3>
      <p>
        L'ANCT est autorisée à faire appel à l'entité Scaleway (ci-après le «
        Sous-traitant Ultérieur ») pour mener les activités de traitement
        relatives aux activités de stockage des données à caractère personnel
        via un service cloud et de mise à disposition de serveurs.
      </p>
      <p>
        En cas de recrutement d'autres Sous-traitants Ultérieurs, l'ANCT doit
        recueillir l'autorisation écrite préalable et spécifique de chaque CCAS,
        et CIAS ou association d'accompagnement social utilisant les Services.
      </p>
      <p>
        Tout Sous-traitant Ultérieur est tenu de respecter les obligations des
        présentes CGU pour le compte et selon les instructions des CCAS, et des
        CIAS et des associations d'accompagnement social. Il appartient à l'ANCT
        de s'assurer que le Sous-traitant Ultérieur présente les mêmes garanties
        suffisantes quant à la mise en œuvre de mesures techniques et
        organisationnelles appropriées de manière que le traitement des données
        à caractère personnel réponde aux exigences du RGPD. Si le Sous-traitant
        Ultérieur ne remplit pas ses obligations en matière de protection des
        données, l'ANCT demeure pleinement responsable devant les CCAS, et les
        CIAS et les associations d'accompagnement social de l'exécution par le
        Sous-traitant Ultérieur de ses obligations.
      </p>
      <h3>Droit d'information des personnes concernées</h3>
      <p>
        Le Responsable de traitement et l'ANCT s'engagent conjointement à
        garantir l'exercice des droits des personnes ci-après :
      </p>
      <ul>
        <li>le droit d'information et droit d'accès aux données;</li>
        <li>le droit d'opposition au traitement</li>
        <li>
          le droit de rectification des données et le cas échéant de suppression
          des données
        </li>
        <li>le droit à la limitation des données traitées</li>
        <li>droit au retrait du consentement (pour les cookies).</li>
      </ul>
      <p>
        L'exercice de ces droits peut être réalisée par voie électronique ou par
        voie postale auprès du CCAS, ou du CIAS ou d'une association
        d'accompagnement social concerné, ou auprès de l'ANCT à l'adresse
        suivante :
      </p>
      <ul>
        <li>
          L'Agence Nationale de la Cohésion des Territoires, 20 avenue de Ségur,
          75 334 Paris Cedex 07
        </li>
        <li>
          par courrier électronique à
          <NuxtLink to="mailto:monsuivisocial@anct.gouv.fr">
            monsuivisocial@anct.gouv.fr
          </NuxtLink>
        </li>
      </ul>
      <p>
        En raison de l'obligation de sécurité et de confidentialité dans le
        traitement des données à caractère personnel qui incombe au Responsable
        de traitement, la demande n'est traitée que si le CCAS, le CIAS,
        l'association d'accompagnement social ou l'ANCT est en mesure
        d'identifier le demandeur de manière certaine. En cas de doute sérieux
        sur l'identité du demandeur, le Responsable de traitement ou le
        Sous-traitant peut être amenée à demander la communication d'une preuve
        d'identité.
      </p>
      <h3>Notification des violations de données à caractère personne</h3>
      <p>
        L'ANCT notifie, par courriel, aux CCAS, et CIAS, associations
        d'accompagnement social toute violation de données à caractère personnel
        dans un délai maximum de vingt-quatre (24) heures après en avoir pris
        connaissance. Cette notification est accompagnée de toute documentation
        utile afin de permettre aux CCAS, et CIAS, associations d'accompagnement
        social si nécessaire, de notifier cette violation à l'autorité de
        contrôle compétente et aux personnes concernées par ladite violation.
      </p>
      <h3>
        Aide de l'ANCT dans le cadre du respect par les CCAS, et les CIAS et les
        associations d'accompagnement social de leurs obligations
      </h3>
      <p>
        Les CCAS, et les CIAS et les associations d'accompagnement social
        élaborent conjointement avec l'ANCT la réalisation d'analyses d'impact
        relatives à la protection des données.
      </p>
      <p>
        L'ANCT aide les CCAS, et les CIAS et les associations d'accompagnement
        social pour la réalisation de la consultation préalable de l'autorité de
        contrôle.
      </p>
      <h3>Mesures de sécurité</h3>
      <p>
        L'ANCT s'engage à mettre en œuvre les mesures de sécurité suivantes en
        vue d'assurer la confidentialité, l'intégrité et de protégées l'accès
        aux données : mesures de sécurité physiques (sécurité des locaux,
        verrouillage des portes) et informatiques (anonymisation, stockage des
        données en base de données, cloisonnement des données, mesures de
        traçabilité, surveillance, protection des réseaux, sauvegarde,
        antivirus, politique de mot de passe sécurisé) et notamment des mesures
        organisationnelles (politique de contrôle d'accès des données,
        sensibilisation des utilisateurs à la protection des données à caractère
        personnel, procédures en cas de fuite des données personnelles et audits
        réguliers des procédures et traitements).
      </p>
      <p>
        La mise en œuvre des mesures de sécurité et techniques relève de la
        responsabilité de l'ANCT, sous réserve de l'absence de négligence grave
        de l'utilisateur de l'application.
      </p>
      <h3>Transfert de données en dehors de l'Union européenne</h3>
      <p>
        L'ANCT déclare qu'il n'y a pas de transfert de données à caractère
        personnel en dehors de l'Union européenne.
      </p>
    </article>
    <CGUAcceptForm />
  </div>
</template>
