<template>
  <div class="landing-main-container fr-container fr-my-8w">
    <article>
      <h1>Veuillez lire et accepter les CGU</h1>
      <p>
        Afin de pouvoir utiliser Mon Suivi Social, merci de lire et accepter les
        CGU.
      </p>
    </article>
    <article class="cgu-container">
      <h1>Conditions générales d'utilisation de Mon Suivi Social</h1>
      <p>
        Les présentes conditions générales d'utilisation (dites « CGU ») fixent
        et définissent les conditions d'accès et d'utilisation de la plateforme
        « Mon Suivi Social ».
      </p>
      <h2>Article 1 - Champ d'application</h2>
      <p>
        La plateforme est ouverte aux agents des Centres Communaux d'Action
        Sociale (CCAS), des Centres intercommunaux d'Action sociale (CIAS), des
        communes et des structures d'accompagnement social après la création de
        leur compte.
      </p>
      <h2>Article 2 - Objet</h2>
      <p>
        La plateforme Mon Suivi Social a pour objectif de faciliter le suivi
        social des bénéficiaires des CCAS, des CIAS, des communes et structures
        d'accompagnement social par la création d'un dossier social unique.
      </p>
      <p>Ce dossier social unique permet notamment :</p>
      <ul>
        <li>
          le suivi des interactions des bénéficiaires dans leur structure ;
        </li>
        <li>
          la centralisation et la sécurisation des dossiers des bénéficiaires ;
        </li>
        <li>la recherche d'informations ;</li>
        <li>le partage des agendas et la gestion des tâches ;</li>
        <li>la production de statistiques.</li>
      </ul>
      <h2>Article 3 - Définitions</h2>
      <p>
        « Le responsable de structure » est la personne'agent référente d'une
        CCAS, d'une CIAS ou d'une association d'accompagnement socialstructure.
      </p>
      <p>
        « L'Administrateur » est l'agent habilité de l'équipe Mon Suivi Social
      </p>
      <p>
        « L'Utilisateur » est tout agent autorisé par le responsable de
        structure d'une CCAS ou d'une CIAS à ajouter des Bénéficiaires.
      </p>
      <p>
        « L'Intervenant associatif » est tout membre d'une association autorisé
        par le responsable de structure d'une association d'accompagnement
        social à ajouter des Bénéficiaires.
      </p>
      <p>
        « Le Bénéficiaire » est toute personne d'une structure qui bénéficie
        d'un suivi social.
      </p>
      <p>
        Les « Services » sont les fonctionnalités offertes par le site pour
        répondre à ses finalités.
      </p>
      <p>
        « Le responsable de traitement » est la personne qui, au sens de
        l'article 4 du règlement (UE) n°2016/679 du Parlement européen et du
        Conseil du 27 avril 2016 relatif à la protection des personnes physiques
        à l'égard du traitement des données à caractère personnel et à la libre
        circulation de ces données détermine les finalités et les moyens des
        traitements de données à caractère personnel (ci-après « RGPD »).
      </p>
      <h2>
        Article 4 - Fonctionnalités ouvertes aux Utilisateurs et aux
        Intervenants associatifs
      </h2>
      <p>
        « Mon Suivi Social » permet à tout Utilisateur et Intervenant associatif
        de :
      </p>
      <ul>
        <li>
          ajouter un Bénéficiaire sur la plateforme en renseignant l'ensemble
          des informations et documents de son dossier social unique nécessaires
          au traitement de sa demande ;
        </li>
        <li>Ajouter des documents rattachés au dossier du bénéficiaire.</li>
        <li>créer une synthèse d'entretien avec un Bénéficiaire ;</li>
        <li>instruire une demande d'aide légale ou facultative ;</li>
        <li>
          Accéder à l'historique de l'ensemble des accompagnements conduits par
          la structure auprès des bénéficiaires
        </li>
        <li>gérer l'ensemble des Bénéficiaires d'une structure ;</li>
        <li>
          créer et exporter des rapports de statistiques d'activités de la
          structure
        </li>
        <li>
          gérer les rendez-vous pris par les Bénéficiaires via la plateforme Rdv
          Solidarités.
        </li>
      </ul>
      <h2>Article 5 - Responsabilités</h2>
      <h3>5.1 L'éditeur de la plateforme « Mon Suivi Social »</h3>
      <p>
        Les sources des informations diffusées sur le site sont réputées fiables
        mais le site ne garantit pas qu'il soit exempt de défauts, d'erreurs ou
        d'omissions.
      </p>
      <p>
        Tout événement dû à un cas de force majeure ayant pour conséquence un
        dysfonctionnement du site et sous réserve de toute interruption ou
        modification en cas de maintenance, n'engage pas la responsabilité de
        Mon Suivi Social.
      </p>
      <p>
        L'éditeur s'autorise à suspendre ou révoquer n'importe quel compte et
        toutes les actions réalisées par ce biais, s'il estime que l'usage
        réalisé du service porte préjudice à son image ou ne correspond pas aux
        exigences de sécurité.
      </p>
      <p>
        L'éditeur s'engage à la sécurisation du site, notamment en prenant
        toutes les mesures nécessaires permettant de garantir la sécurité et la
        confidentialité des informations fournies.
      </p>
      <p>
        L'éditeur fournit les moyens nécessaires et raisonnables pour assurer un
        accès continu, sans contrepartie financière au site. Il se réserve la
        liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la
        plateforme pour des raisons de maintenance ou pour tout autre motif jugé
        nécessaire.
      </p>
      <h3>5.2 L'Utilisateur et l'Intervenant associatif</h3>
      <p>
        L'Utilisateur et l'Intervenant associatif s'engagent à ne pas
        commercialiser les données reçues et à ne pas les communiquer à des
        tiers en dehors des cas prévus par la loi.
      </p>
      <p>
        Toute information transmise par l'Utilisateur ou à l'Intervenant
        associatif est de sa seule responsabilité. Il est rappelé que toute
        personne procédant à une fausse déclaration pour elle-même ou pour
        autrui s'expose, notamment, aux sanctions prévues à l'article 441-1 du
        code pénal, prévoyant des peines pouvant aller jusqu'à trois ans
        d'emprisonnement et 45 000 euros d'amende.
      </p>
      <p>
        L'Utilisateur et l'Intervenant associatif s'engagent à ne pas mettre en
        ligne de contenus ou informations contraires aux dispositions légales et
        réglementaires en vigueur.
      </p>
      <h2>Article 6 - Mise à jour des conditions d'utilisation</h2>
      <p>
        Les termes des CGU doivent être acceptés au moment de la connexion.
        Toute modification des CGU réalisée en fonction des modifications
        apportées au site, de l'évolution de la législation ou pour tout autre
        motif jugé nécessaire, nécessite votre consentement.
      </p>
    </article>
    <CGUAcceptForm />
  </div>
</template>
