<template>
  <PageContainer>
    <DsfrBreadcrumb :links="Breadcrumb.AppHistory()" />
    <PageTitle :title="title" />
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <AtomTabs tab-list-name="Accompagnements">
          <AtomTab
            :tab-id="HistoryTab.Followups"
            title="Entretiens"
            selected
          >
            <Followups />
          </AtomTab>
          <AtomTab
            :tab-id="HistoryTab.HelpRequests"
            title="Instructions de dossier"
          >
            <HelpRequests />
          </AtomTab>
        </AtomTabs>
      </div>
    </div>
  </PageContainer>
</template>

<script lang="ts" setup>
  import { HistoryTab } from '~/utils/constants/history'
  import { Breadcrumb, RouteTitle } from '~/utils/routing'

  const title = RouteTitle.AppHistory()

  useHead({ title })
</script>

<style scoped>
  #followups-tab {
    color: var(--color-followup);
  }

  #followups-tab[aria-selected='true'] {
    border-color: var(--color-followup);
  }

  #help-requests-tab {
    color: var(--color-help-request);
  }

  #help-requests-tab[aria-selected='true'] {
    border-color: var(--color-help-request);
  }

  :deep(.table-container) {
    /* 21.5rem seems to come up out of the box. It corresponds to the total height of elements existing above and under the table */
    max-height: calc(100vh - 23.5rem);
  }
</style>
