<template>
  <div class="main-container fr-p-2w">
    <AtomLoader
      v-if="pending"
      class="fr-mx-auto"
    />
    <AtomAlert
      v-else-if="error"
      :alert-type="AlertType.Error"
      message="Les statistiques de la répartion des ministres n'ont pas pu être chargées."
    />
    <template v-else-if="ministreStats">
      <h2 class="fr-h5">Ministres</h2>
      <p>Pourcentage calculé sur le nombre total d'entretiens</p>
      <StatsList
        v-if="ministreStats.length"
        :total-count="totalCount"
        :stats="ministreStats"
      />
      <p v-else>
        Commencez à créer des synthèses d'entretien dans les fiches de
        bénéficiaires pour voir apparaître les statistiques de la répartition
        des ministres.
      </p>
    </template>
  </div>
</template>

<script lang="ts" setup>
  import { ministerLabels } from '~/client/options/ministry'
  import { getStatLabel } from '~/client/options/stat'
  import { StatFilterInput } from '~/server/schema'
  import { SupportColor } from '~/client/colors/support'
  import { AlertType } from '~/utils/constants/alert'

  const trpcClient = useTrpcClient()

  const props = defineProps<{
    totalCount: number
    filters: StatFilterInput
  }>()

  const {
    data: ministreCounts,
    pending,
    error
  } = await trpcClient.stat.getFollowupMinistreStats.useQuery(props.filters)

  const ministreStats = computed(
    () =>
      ministreCounts.value?.map(({ _count, ministre }) => ({
        key: ministre || 'null',
        label: getStatLabel(ministerLabels, ministre),
        color: SupportColor.followups,
        count: _count
      })) || []
  )
</script>
