@use './variables' as *;
@use '@gouvfr/dsfr/src/core/index' as dsfr;
@use '@gouvfr/dsfr/module/media-query' as dsfr-media-query;

:root {
  --primary-light: #{$primary-light};
  --primary-light-hover: #{$primary-light-hover};
  --primary: #{$primary};
  --primary-hover: #{$primary-hover};
  --primary-active: #{$primary-active};

  /* DSFR customisation */
  --background-action-high-blue-france: #{$primary};
  --border-action-high-blue-france: #{$primary};
  --text-action-high-blue-france: #{$primary};

  /* Couleurs theme rubriques */
  --color-followup-light: #{$followup-light};
  --color-followup-light-hover: #{$followup-light-hover};
  --color-followup: var(--green-archipel-sun-391-moon-716);
  --color-followup-hover: var(--green-archipel-sun-391-moon-716-hover);
  --color-followup-active: var(--green-archipel-sun-391-moon-716);
  --color-help-request-light: #{$help-request-light};
  --color-help-request-light-hover: #{$help-request-light-hover};
  --color-help-request: var(--purple-glycine-main-494);

  /* FIXME: forced to use CSS variable, --purple-glycine-main-494-hover not working */
  --color-help-request-hover: #{$help-request-hover};
  --color-help-request-active: var(--purple-glycine-main-494);
  --color-mes-droits-sociaux: var(--blue-cumulus-sun-368-moon-732);
  --color-mes-droits-sociaux-hover: var(--blue-cumulus-sun-368-moon-732);
  --color-mes-droits-sociaux-active: var(--blue-cumulus-sun-368-moon-732);
}

html,
body,
#__nuxt {
  height: 100%;
}

.main-container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: $shadow-light;
}

.fr-table table {
  display: table;
}

.bg-color-white {
  background-color: white;
}

.color-red {
  color: red;
}

.table-container {
  overflow-x: auto;

  .fr-table {
    width: max-content;
    min-width: 100%;

    tbody {
      background-color: white;
    }

    thead,
    &:not(.stripped-table) tbody {
      background-color: white;
    }

    .clickable-row {
      cursor: pointer;

      &:hover {
        background-color: var(--background-default-grey-hover);
      }

      &:active {
        background-color: var(--background-default-grey-active);
      }
    }
  }
}

.cgu-container {
  max-height: 85vh;
  overflow: scroll;
}

.results-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .results-count {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.information-list {
  @include dsfr.disable-list-style;

  --li-bottom: 0.5rem;

  .information-label {
    font-weight: 700;
  }

  .information-line {
    display: block;
  }
}

.feature-section {
  border-radius: 0.5rem;
  border: 1px solid var(--border-default-grey);
  background-color: var(--background-default-grey);
  padding: 2rem;

  .fr-container {
    padding: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// FIXME: DSFR v1.8.* regression - See https://github.com/GouvernementFR/dsfr/issues/488
@include dsfr-media-query.respond-from('md') {
  .fr-container--fluid {
    overflow: initial;
  }
}

// It seems incredibly horrible but is necessary to be able to override DSFR when programmatically focusing an element
.force-focus-visible:focus:not(:focus-visible),
input:focus:not(:focus-visible),
select:focus:not(:focus-visible) {
  outline-style: solid !important;
}

.landing-subtitle {
  @include dsfr.title-style(h5);

  display: block;
  font-weight: normal;
  text-align: center;
}

.landing-video {
  background: none !important;

  &:hover,
  &:focus,
  &:active {
    background: none !important;
  }

  &::after {
    display: none;
  }
}

.followup-types-data {
  max-width: 25rem;
}

.bg-color-grey-light {
  background-color: var(--background-contrast-grey);
}

.br-16 {
  border-radius: 16px;
}

.title-blue {
  color: var(--blue-france-sun-113-625);
}

.landing-main-container {
  flex: 1 1 auto;
  padding-inline: 0.5rem;

  @include dsfr-media-query.respond-from('lg') {
    padding-inline: 1rem;
  }
}

.color-purple-glycine {
  color: var(--text-label-purple-glycine) !important;
}

.bg-purple-glycine {
  background-color: var(--background-contrast-purple-glycine) !important;
}
