@use '~/assets/style/variables' as *;

$tabs-list-height: 4.5rem;
$tabs-list-border-bottom-size: 1px;
$tab-border-bottom-size: 3px;

:root {
  --tabs-panel-min-height: 30rem;
}

// Fix an empty tab blinking and allow to focus element between tabs
.fr-tabs__panel:not(.fr-tabs__panel--selected) {
  visibility: initial;
}
