<template>
  <p>
    <span class="information-label">Documents : </span>
    <span
      v-for="({ document, permissions }, index) in documents"
      :key="document.key"
    >
      <button
        v-if="permissions.view"
        class="fr-link"
        :title="`Voir ${document.name} - nouvelle fenêtre`"
        @click="onView(document.key)"
      >
        {{ document.name }}</button
      ><template v-else>{{ document.name }} (confidentiel)</template
      ><template v-if="index != documents.length - 1">, </template>
    </span>
  </p>
</template>

<script lang="ts" setup>
  import { DocumentItems } from '~/server/trpc/routers'

  defineProps<{
    documents: DocumentItems
  }>()

  const onView = (key: string) => {
    if (process.client) {
      useTrpcMutation({
        mutation: () =>
          useTrpcClient().documents.createViewUrl.mutate({
            key
          }),
        onSuccess: ({ url }) => {
          window.open(url, '_blank')?.focus()
        },
        onFailure: () => {
          useSnackbar().error('Le chargement du document a échoué.')
        }
      })
    }
  }
</script>
